In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\pc\anaconda3\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\pc\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\pc\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\pc\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pc\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\pc\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pc\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [3]:
#Launching the chrome browser

driver=webdriver.Chrome()

In [4]:
#opening the website to scrap
driver.get("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

#scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for x in title_tags[0:10]:
    titles=x.text
    job_title.append(titles)

#scraping job location from given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for x in location_tags[0:10]:
    locations=x.text
    job_location.append(locations)
    
    
#scraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for x in title_tags[0:10]:
    companys=x.text
    company_name.append(companys)
    

#scraping experience required from given page
title_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for x in title_tags[0:10]:
    exp=x.text
    experience_required.append(exp)

In [8]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [9]:
df=pd.DataFrame({'Title':job_title, 'Location':job_location, 'Company Name':company_name, 'Experience':experience_required})

df

,Title,Location,Company Name,Experience
0,"Senior Data Scientist, Reporting","Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...","Senior Data Scientist, Reporting",6-7 Yrs
1,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Data Scientist,3-6 Yrs
2,Data Scientist(python) Immediate joiner - Remote,Remote,Data Scientist(python) Immediate joiner - Remote,2-7 Yrs
3,Data Scientist-Senior Associate - P&T Labs,"Mumbai, Hyderabad, Bengaluru",Data Scientist-Senior Associate - P&T Labs,4-6 Yrs
4,Data Scientist Architect,"Temp. WFH - Hyderabad, Bengaluru",Data Scientist Architect,11-20 Yrs
5,Senior Analyst- Clinical Data Management Scien...,Bengaluru,Senior Analyst- Clinical Data Management Scien...,5-8 Yrs
6,Data Scientist,Bengaluru,Data Scientist,3-5 Yrs
7,HCL Hiring||Senior Data Scientist Role||Locati...,"Hybrid - Pune, Maharashtra, Bangalore Rural, K...",HCL Hiring||Senior Data Scientist Role||Locati...,10-20 Yrs
8,DS - NLP Expert,"Hyderabad, Telangana, Gurugram, Haryana, Banga...",DS - NLP Expert,6-11 Yrs
9,Data Scientist,"Hyderabad, Chennai, Bengaluru",Data Scientist,5-10 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [10]:
#Launching the chrome browser

driver=webdriver.Chrome()

In [11]:
#opening the website to scrap
driver.get("https://www.shine.com/")

In [13]:
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [14]:
location=driver.find_element(By.CLASS_NAME,"form-control  ")
location.send_keys('Bangalore')

In [15]:
job_title1=[]
job_location1=[]
company_name1=[]
experience_required1=[]

#scraping job title from given page
title_tags1=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]/a')
for x in title_tags1[0:10]:
    titles1=x.text
    job_title1.append(titles1)

#scraping job location from given page
location_tags1=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for x in location_tags1[0:10]:
    locations1=x.text
    job_location1.append(locations1)
    
    
#scraping company name from given page
company_tags1=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for x in title_tags1[0:10]:
    companys1=x.text
    company_name1.append(companys1)
    

#scraping experience required from given page
exp_require1=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for x in exp_require1[0:10]:
    exp=x.text
    experience_required1.append(exp)

In [16]:
print(len(job_title1),len(job_location1),len(company_name1),len(experience_required1))

10 10 10 10

In [17]:
df1=pd.DataFrame({'Title':job_title1, 'Location':job_location1, 'Company Name':company_name1, 'Experience':experience_required1})

df1

,Title,Location,Company Name,Experience
0,Data Analyst Recruitment,Bangalore\n+12,Data Analyst Recruitment,0 to 4 Yrs
1,Data Analyst Recruitment,Bangalore\n+12,Data Analyst Recruitment,0 to 4 Yrs
2,"Data Analyst (Power BI, Python, SQL)- Internal...",Bangalore,"Data Analyst (Power BI, Python, SQL)- Internal...",3 to 8 Yrs
3,Data Analyst,Bangalore\n+12,Data Analyst,9 to 14 Yrs
4,Clinical Data Analyst,Bangalore\n+6,Clinical Data Analyst,0 to 1 Yr
5,Data Analyst,Bangalore\n+9,Data Analyst,12 to 22 Yrs
6,Data Governance Analyst,Bangalore,Data Governance Analyst,5 to 8 Yrs
7,Data Analyst,Bangalore\n+9,Data Analyst,12 to 22 Yrs
8,Data Engineer Ii,Bangalore\n+9,Data Engineer Ii,0 to 1 Yr
9,Hiring For Data Analyst,Bangalore\n+12,Hiring For Data Analyst,0 to 4 Yrs

Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART
            As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [3]:
#Launching the chrome browser

driver=webdriver.Chrome()

In [4]:
#opening the website to scrap
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [5]:
rating=[]
review_summary=[]
full_review=[]

#scraping rating from given page
start=0
end=10
for page in range(start,end):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for x in rating_tags:
        ratings=x.text
        rating.append(ratings)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)
    
    
#scraping review summary from given page
start=0
end=10
for page in range(start,end):
    summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for x in summary_tags:
        summarys=x.text
        review_summary.append(summarys)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)
    
    
#scraping full review from given page
start=0
end=10
for page in range(start,end):
    full_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div/div')
    for x in full_tags:
        fulls=x.text
        full_review.append(fulls)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [6]:
print(len(rating),len(review_summary),len(full_review))

100 100 100

In [7]:
df1=pd.DataFrame({'Rating':rating, 'Review Summary':review_summary, 'Full Review':full_review})

df1

,Rating,Review Summary,Full Review
0,5,Super!,Terrific!!! Lucky to get this phone in first l...
1,5,Wonderful,Just upgraded from 6s to 11. Yes its been a lo...
2,5,Just wow!,After 20 days above writing this review\n\nI a...
3,5,Highly recommended,Just the display held it from being a 5star ph...
4,5,Highly recommended,Mind blowing purchase battery back up is excel...
...,...,...,...
95,5,Must buy!,Best iphone budget wise
96,5,Terrific purchase,Nice product... And happy with the facility gi...
97,5,Highly recommended,Nice product very happy with the service of Fl...
98,5,Classy product,Good
99,5,Best in the market!,Very Good phone.. beautiful camera.. go for it❤️

Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [16]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [17]:
#Launching the chrome browser

driver=webdriver.Chrome()

In [18]:
#opening the website to scrap
driver.get("https://www.flipkart.com/")

In [19]:
designation=driver.find_element(By.CLASS_NAME,"Pke_EE ")
designation.send_keys('sneakers')

In [20]:
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [22]:
brand=[]
product_description=[]
price=[]

#scraping brand from given page
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for x in brand_tags[0:100]:
        brands=x.text
        brand.append(brands)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(3)
    
    
#scraping product description from given page
start=0
end=3
for page in range(start,end):
    product_tags=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a[1]')
    for x in product_tags[0:100]:
        products=x.text
        product_description.append(products)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(3)
    
    
#scraping price from given page
start=0
end=3
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for x in price_tags[0:100]:
        prices=x.text
        price.append(prices)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(3)

In [23]:
print(len(brand),len(product_description),len(price))

120 120 120

In [24]:
df3=pd.DataFrame({'Brand':brand, 'Product Description':product_description, 'Price':price})

df3

        Brand                                Product Description    Price
0      Footox                 GRAND COURT 2.0 Sneakers For Women     ₹655
1      T-ROCK                           SUMMITS Sneakers For Men   ₹2,087
2    RapidBox                           Seattle Sneakers For Men   ₹1,709
3        PUMA                                   Sneakers For Men     ₹689
4      BRUTON                         PC Runner Sneakers For Men   ₹1,066
..        ...                                                ...      ...
115    VENDOZ                        Smash V2 L Sneakers For Men     ₹449
116    CAMPUS              SKECH-LITE PRO - CLE Sneakers For Men   ₹1,139
117     asian           Rebound Future EVO Core Sneakers For Men  ₹11,699
118    CAMPUS  Newton-01 Men's Lightweight Running Shoes Snea...     ₹399
119      PUMA                                   Sneakers For Men     ₹295

[120 rows x 3 columns]

Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [25]:
#Launching the chrome browser
driver=webdriver.Chrome()

In [26]:
#opening the website to scrap
driver.get("https://www.amazon.in/")

In [27]:
designation=driver.find_element(By.CLASS_NAME,"nav-fill")

In [28]:
laptop_title=[]
rating=[]
price=[]

#scraping job title from given page
lapton_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for x in lapton_tags[0:10]:
    laptops=x.text
    laptop_title.append(laptops)

#scraping rating from given page
rating_tags=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span/span/a/i/span')
for x in rating_tags[0:10]:
    ratings=x.text
    rating.append(ratings)
    
#scraping price from given page
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for x in price_tags[0:10]:
    prices=x.text
    price.append(prices)

In [29]:
print(len(laptop_title),len(rating),len(price))

10 10 10

In [30]:
df4=pd.DataFrame({'Laptop Title':laptop_title, 'Rating':rating, 'Price':price})

df4

                                        Laptop Title Rating      Price
0  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...           ₹67,990
1  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...           ₹59,990
2  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...           ₹49,650
3  Lenovo Yoga Slim7 Carbon Intel Evo i7 1260P 13...         ₹1,13,490
4  Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....           ₹59,990
5  Acer Predator Helios Neo 16 Gaming Laptop 14th...         ₹1,49,999
6  HP Victus Gaming Laptop, 12th Gen Intel Core i...           ₹81,990
7  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...           ₹76,990
8  HP Pavilion X360 11th Gen Intel Core i7 14" (3...           ₹67,990
9  Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...           ₹59,500

Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on Top Quote
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [31]:
driver=webdriver.Chrome()

In [32]:
driver.get('https://www.azquotes.com/')

In [33]:
quote =[]
author =[]
type_quote=[]

quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for x in quote_tags:
    quotes=x.text
    quote.append(quotes)
    
    
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]/a')
for x in author_tags:
    authors=x.text
    author.append(authors)
    
    
type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]/a[3]')
for x in type_tags:
    types=x.text
    type_quote.append(types)

In [34]:
print(len(quote),len(author),len(type_quote))

100 100 100

In [35]:
import pandas as pd
df6=pd.DataFrame({'Quote':quote,'Author':author, 'Type of Quote':type_quote})

df6

,Quote,Author,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,Transcendentalism
1,One cannot and must not try to erase the past ...,Golda Meir,Trying
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,War
3,Death is something inevitable. When a man has ...,Nelson Mandela,Death
4,You have to love a nation that celebrates its ...,Erma Bombeck,Patriotic
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,Hunting
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,Uplifting
97,If you think you are too small to make a diffe...,Dalai Lama,Change
98,"God doesn't require us to succeed, he only req...",Mother Teresa,Mother
99,Change your thoughts and you change your world.,Norman Vincent Peale,Change

Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1 scrap the mentioned data and make the DataFrame

In [36]:
driver=webdriver.Chrome()

In [37]:
driver.get("https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1")

In [ ]:
name_pres=[]
born_date=[]
term_office=[]
remarks=[]

#scraping name of president:

name_tag=driver.find_element('')